<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Assets/css/Style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Testimonial</title>
</head>

<body style="background-color: rgb(243, 242, 241);">
    <nav>
        <div class="left">
            <ul>
                <a href="https://dumbways.id/" target="_blank"> <img src="./Assets/dw.png" alt="" style="width: 30px;">
                </a>
                <li>
                </li>
                <li>
                    <a href="./home"> Home </a>
                </li>
                <li>

                    <a href="./index"> My Project </a>
                </li>
                <li>
                    <a href="./blog">Create</a>
                </li>
                <li>
                    <a href="./Testimoni">Testimoni</a>
                </li>
            </ul>
        </div>
        <div class="right">
            <button class="btn-ctc">
                <a style="display: flex;padding: 9px 13px;font-size: 14;" href="./contactform">Contact Me</a>
            </button>
            <button class="btn-bars" onclick="menuBar()">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </nav>
    <div id="bars-menu" class="bars-dflt">
        <h3 class="menu-bars"><a href="./home">Home</a></h3>
        <h3 class="menu-bars"><a href="./index">My Project</a></h3>
        <h3 class="menu-bars"><a href="./blog">Create Project</a></h3>
        <h3 class="menu-bars"><a href="./contactform">Contact Me</a></h3>
        <h3 class="menu-bars"><a href="./Testimoni">Testimoni</a></h3>
    </div>
    <div class="testi">
        <h1>My Testimonials</h1>
        <h3>Rating By Star</h3>
        <div class="ratingbutton">
            <button onclick="allTestimonial()">
                <p>ALL</p>
            </button>
            <button onclick="filterTestimonial(1)">
                <p>1<i class="fa-solid fa-star"></i></p>
            </button>
            <button onclick="filterTestimonial(2)">
                <p>2<i class="fa-solid fa-star"></i></p>
            </button>
            <button onclick="filterTestimonial(3)">
                <p>3<i class="fa-solid fa-star"></i></p>
            </button>
            <button onclick="filterTestimonial(4)">
                <p>4<i class="fa-solid fa-star"></i></p>
            </button>
            <button onclick="filterTestimonial(5)">
                <p>5<i class="fa-solid fa-star"></i></p>
            </button>
        </div>
    </div>
    <div id="testimonials" class="contenttesti">
        <!-- JS testomoni -->

    </div>

</body>
<script src="./Assets/js/testimonial.js"></script>
<script src="./Assets/js/blog.js"></script>

</html>