.active {
    color: rgb(240, 92, 34) !important;

}

.body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    margin: auto;
    color: black;
    background-color: rgb(194, 188, 188);
    display: flex;
    justify-content: center;
    padding-top: 5%;

}

@media only screen and (max-width : 500px) {
    .box-container {
        flex-direction: column-reverse;
    }

}

.icon {
    display: flex;
    padding-top: 5%;

}

.icon i {
    color: black;

}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;

}

.btn {
    display: flex;
    align-items: center;
    gap: 15px;
}

.left-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding-left: 8%;

}

.left-box h1 {
    padding-top: 7%;
}

.right-box {
    display: flex;

}

.container-right {
    padding: 20px;
    margin: auto;
    text-align: center;
}

.containerightitem {
    text-align: center;
    padding-top: 10%;
}

.containerightitem p {
    margin: 0;
}

.containerightitem h1 {
    margin: 0;
}

.right-box img {
    width: 200px;
    border-radius: 20px;
}

/*== NAV ==*/



nav {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.left {

    display: flex;
    align-items: center;

}

.left ul {
    display: flex;
    align-items: center;
}

.left ul li {
    list-style: none;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.left ul li a {
    text-decoration: none;
    color: rgb(247, 246, 246);
    display: flex;
    align-items: center;
}

.right {

    display: flex;
    align-items: center;
}

.btn-ctc {
    width: 100px;
    background-color: rgb(250, 250, 250);
    border-radius: 15%;
}

.right button a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0
}

/* === */

.btn-bars {
    background-color: rgb(252, 249, 249);
    width: 60px;
    border-radius: 10px;
    display: none;
}

@media only screen and (max-width : 500px) {
    .left ul li {
        display: none;
    }

    .btn-ctc {
        display: none;
    }

    .btn-bars {
        display: block;
    }

}

.bars-dflt {
    display: none;

}

.bars-menu {
    display: block;
    background-color: rgb(194, 188, 188);

}

.menu-bars {
    border: 2px solid white;
    background-color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 10px;
    margin: 0px 30px;
}

.menu-bars a {
    text-decoration: none;
    color: white;
}

/* testimoni */

.testi {
    margin-top: 80px;
    text-align: center;
}

.testi h3 {
    margin-top: 30px;

}

.ratingbutton {
    margin-top: 25px;

}

.ratingbutton button {
    margin: 0px 15px;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: black;
}

.ratingbutton button p {
    color: white;
    cursor: pointer;
}

.divtesti {
    margin: 30px 30px;
    display: flex;
}

.boxtesti {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 15px 15px;
    display: flex;
}

.boxtesti p,
h3,
h4 {
    margin-top: 10px;
    margin-left: 10px;
}

.boxtesti h3,
h4 {
    text-align: right;
}

.boxtesti img {
    border-radius: 10px;
}

.contenttesti {
    display: flex;
    flex-direction: row;
    justify-content: center;
}